configuration {
    font: "Noto Sans Mono 11";

    show-icons: false;
    drun-display-format: "{name}";

    display-drun: "";
    display-run: "";
    display-window: "";

    sidebar-mode: false;
}

* {
    background-color: transparent;
    text-color:       #e4e4e4;

    margin:            0px;
    padding:           0px;
    spacing:           0px;

    border:            0px;
    border-radius:     0px;
}

window {
    width:             500px;

    background-color:  #181818;

    border:            1px;
    border-color:      #383838;
    border-radius:     6px;

    padding:           10px;
}

mainbox {
    background-color:  #181818;
    spacing:           8px;
}

inputbar {
    background-color:  #202020;

    border-radius:     4px;
    padding:           8px 10px;

    children:          [ entry ];
}

entry {
    background-color:  #202020;
    text-color:        #e4e4e4;

    placeholder:       "Search";
    placeholder-color: #777777;
}

prompt {
    enabled:           false;
    background-color:  transparent;
}

case-indicator {
    enabled:           false;
    background-color:  transparent;
}

message {
    background-color:  #181818;
}

textbox {
    background-color:  #181818;
    text-color:        #777777;

    padding:           6px;
}

listview {
    background-color:  #181818;

    lines:             8;
    columns:           1;

    spacing:           2px;

    scrollbar:         false;
    fixed-height:      false;
    fixed-columns:     true;
}

element {
    background-color:  #181818;
    text-color:        #e4e4e4;

    border-radius:     4px;
    padding:           7px 9px;

    spacing:           0px;
}

element normal.normal,
element alternate.normal {
    background-color:  #181818;
    text-color:        #e4e4e4;
}

element selected.normal {
    background-color:  #e4e4e4;
    text-color:        #181818;
}

element normal.urgent,
element alternate.urgent {
    background-color:  #181818;
    text-color:        #c73c3f;
}

element selected.urgent {
    background-color:  #c73c3f;
    text-color:        #e4e4e4;
}

element normal.active,
element alternate.active {
    background-color:  #181818;
    text-color:        #e4e4e4;
}

element selected.active {
    background-color:  #e4e4e4;
    text-color:        #181818;
}

element-icon {
    enabled:           false;
    background-color:  transparent;
}

element-text {
    background-color:  transparent;
    text-color:        inherit;

    vertical-align:    0.5;
}

scrollbar {
    enabled:           false;
    background-color:  transparent;
}

mode-switcher {
    enabled:           false;
    background-color:  transparent;
}

button {
    background-color:  transparent;
    text-color:        #e4e4e4;
}

button selected {
    background-color:  #e4e4e4;
    text-color:        #181818;
}
